body {
    height: 375px;
}

.title {
    text-align: center;
    border-bottom: 0.2rem solid gray;
    background-color: lavender;
    padding: 0.5rem 0.5rem;
    margin-top: 0rem;
    overflow: hidden;
}

body {
    margin: 0rem;
}

.myStatus {
    display: block;
    text-align: center;
    border-radius: 0.7rem;
    border: 0.3rem solid black;
    margin-left: 2rem;
    margin-right: 2rem;
    overflow: hidden;
    background-color: lavender;
}

.dateArea {
    overflow: hidden;
}

.total_txt {
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0rem;
    margin-bottom: 0.5rem;
}

.total {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 0rem;
    margin-top: 0rem;
    margin-bottom: 0.1rem;
}

.totalIncomeCost {
    padding-bottom: 1rem;
}

.plus, .minus {
    position: relative;
    bottom: -0.2rem;
    margin-right: 0.5rem;
    width: 1.25rem;
    height: 1.25rem;
}

.income {
    color: blue;
}

.cost {
    color: red;
}

.selectDate {
    border-top: 0.2rem solid gray;
    padding-top: 0.5rem;
}

input.left_btn {
    background: url("images/toLeft.png") no-repeat;
    margin-right: 0.1rem;
}

input.right_btn {
    background: url("images/toRight.png") no-repeat;
    margin-left: 0.1rem;
}


input.left_btn, input.right_btn, date {
    width: 1rem;
    height: 1.5rem;
    padding: 0.3rem 0.6rem 0rem 0.6rem;
    border: none;
    margin-top: 0.6rem;
    background-size: cover;
}

.selectDate {
    text-align: center;
}

.date {
    display: inline;
    font-size: 1.2rem;
}

.listText {
    display: inline;
    font-weight: bold;
    float: left;
    margin-left: 0.2rem;
}

#income, #cost, label {
    float: right;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
}

#income, #cost {
    display: none;
}

input[id="income"]:checked + label {
    background-color: rgb(205, 207, 255);
    border: 1px solid transparent;
}

input[id="cost"]:checked + label {
    background-color: rgb(205, 207, 255);
    border: none;
    border: 1px solid transparent;
}

.line {
    border-bottom: 1px solid rgba(153, 153, 153, 0.721);
}

.scrollArea {
    height: calc(100vh - 390px);
    overflow-y: auto;
    overflow-x: hidden;
}

.listView {
    display: block;
    background-color: lavender;
    border-radius: 0.5rem;
    height: 3.3rem;
    margin: 0rem 1rem 1rem 1rem;
}

ul, li {
    display: flex;
    list-style-type: none;
}

.category, .content, .cost_price, .income_price, input.delete_btn {
    position: relative;
    display: inline-block;
}

.category  {
    bottom: -1.2rem;
    right: 1rem;
}

.content {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 1.2rem;
    left: 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.cost_price, .income_price {    
    right: 0.1rem;
    bottom: -1.3rem;
    margin-left: auto;
}

.cost_price {
    color: red;
}

.income_price {
    color: blue;
}

input.delete_btn {
    background: url("images/delete.png") no-repeat;
    background-size: cover;
    width: 0.8rem;
    height: 0.8rem;
    border: none;
    bottom: -0.3rem;
    right: 0.3rem;
}

footer {
    position: fixed;
    left: 0rem;
    bottom: 0rem;
    height: 3rem;
    width: 100%;
    background-color: lightgrey;
    margin: 0rem;
}

.add_btn {
    display: block;
    background: url("images/add.png") no-repeat;
    width: 3.3rem;
    height: 3rem;
    border: none;
    background-size: cover;
    margin: 0 auto;
}